body{
    background-color: lightpink;
    color:rgb(0, 2, 3);
    text-align: center;
    line-height: 2;
    padding: 20px 50px 50px 50px;
}
img{
    width:60%;
    height: auto;
}
nav{
    text-align: center;
}
